.AsideItem {
    font-weight: 400;
    font-style: normal;
    padding: 8px;
    border-radius: 8px;
    transition: .15s ease-in;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.AsideItem img {
    margin-right: 16px;
}

.AsideItem:hover {
    background-color: #FFF;
}