.container {
  padding-left: calc(20vw + 48px);
}

.header {
  font-size: 48px;
  margin-top: 0;
  padding: 24px 0 0 0;
}

.create__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 24px;
  background-color: #F6F6F6;
  width: 30vw;
  height: 30vh;
  border-radius: 16px;
  border-style: dashed;
  border-color: #D6D6D6;
}

.new {
  background-color: #00B59A;
  color: #fff;
  padding: 12px;
  border-radius: 24px;
}

.history__container {
  margin-top: 48px;
}

.history__header {
  font-size: 32px;
}

.new:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: .2s ease;
}
